<h1>商品編集ページ</h1>

<%= render 'form', product: @product %>

<%= link_to 'Show', @product, class: "btn btn-default" %> 
<%= link_to 'Back', products_path, class: "btn btn-default" %>
<%= link_to "削除", product_path, method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-default"%>
